<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/paciente-home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Horas Agendadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="empty-state-container">
    <div class="card-empty">
      <div class="icon-circle">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      
      <h2>No tienes citas agendadas</h2>
      <p>Aún no has reservado ninguna hora médica</p>
    </div>
  </div>
</ion-content>