# Dependencias (Cubre ambas carpetas)
**/node_modules/

# Frontend (Ionic/Angular)
frontend/.angular/
frontend/www/
frontend/dist/
frontend/.ionic/

# Backend (Node/Oracle)
backend/.env
backend/logs/

# Editores y Sistema
.vscode/
.DS_Store
Thumbs.db