.content {
    margin-left: 250px;
    padding: 30px;
    background: #f5f7fa;
    min-height: 100vh;
}

h1 {
    margin-bottom: 25px;
    color: #1f2937;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 25px;
    box-shadow:
        0 4px 12px rgba(0,0,0,.08);
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 8px 20px rgba(0,0,0,.12);
}

.card h2 {
    margin-bottom: 15px;
    color: #374151;
}

.numero {
    font-size: 42px;
    font-weight: bold;
    color: #111827;
    margin-bottom: 15px;
}

.detalle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #4b5563;
    font-size: 15px;
}

/* gráfico principal */

.grafico-principal {
    margin-top: 30px;
    background: white;
    border-radius: 16px;
    padding: 25px;
    box-shadow:
        0 4px 12px rgba(0,0,0,.08);
}

/* contenedor inferior */

.graficos-secundarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.grafico {
    background: white;
    border-radius: 16px;
    padding: 25px;
    box-shadow:
        0 4px 12px rgba(0,0,0,.08);
}

.grafico h2,
.grafico-principal h2 {
    margin-bottom: 20px;
    color: #374151;
}