// Fondo general
ion-content {
  --background: #f8faff;
}

// Header Limpio y Blanco
.custom-header {
  --background: #ffffff;
  --border-width: 0;
  padding: 10px 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  
  .app-name {
    font-weight: 800;
    font-size: 1.3rem;
    color: #011a33;
    line-height: 1;
  }
  
  .user-id {
    font-size: 0.85rem;
    color: #738496;
    margin-top: 4px;
  }
}

.btn-logout {
  --padding-end: 0;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: none;
}

// Contenido de bienvenida
.welcome-container {
  text-align: center;
  margin: 3rem 0 2rem;
  h1 { font-weight: 800; font-size: 2.5rem; color: #011a33; margin-bottom: 5px; }
  p { color: #738496; font-size: 1.1rem; margin: 0; }
}

// Tarjetas Pro
.menu-item {
  --background: #ffffff;
  --border-radius: 20px;
  margin-bottom: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

  h2 { font-weight: 700; font-size: 1.3rem; color: #011a33; }
  p { font-size: 0.95rem; color: #738496; }
}

.icon-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.blue-icon { background: #e6f0ff; color: #1a6dff; }
.purple-icon { background: #f3ebff; color: #a855f7; }
.green-icon { background: #e8f7f0; color: #22c55e; }